.card-container {
    width: 75%;
    height: 700px;
    background: linear-gradient(35deg ,yellow, skyblue, skyblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.card {
    width: 80%;
    height: 90%;
    gap: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}
.upper-portion {
    display: flex;
    gap: 15px;
    flex-direction: row;
    width: 100%;
    height: 60%;
    background: transparent;
}
.upper-right {
    width: 50%;
    height: 100%;
    background: transparent;
    border-radius: 15px;



    display: flex;
    flex-direction: column;
    gap: 15px;
}
.upper-right-top{
    width: 100%;
    height: 50%;
    background: rgba(225, 0.1, 0.1, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.upper-right-top p {
    font-size: 45px;
    color: white;
    
}
.upper-right-bottom{
    width: 100%;
    height: 50%;
    background: rgba(225, 0.1, 0.1, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.upper-right-bottom p {
    font-size: 45px;
    color: white;
    
}
.upper-left {
    width: 50%;
    height: 100%;
    background: rgba(225, 0.1, 0.1, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;

    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 30px;
    /* font-weight: 800; */
}
.upper-left :nth-child(1){
    font-size: 35.4px;
    font-weight: lighter;
    
}
.upper-left span {
    font-size: 20px;
    font-weight: 600;
}
.upper-left :nth-child(2){
    font-size: 18px;
    font-weight: lighter;
    
}
.upper-left :nth-child(3){
    font-size: 60.4px;
    font-weight: bolder;
    
}
.upper-left :nth-child(4){
    font-size: 20.4px;
    font-weight: bold;
    
}
.lower-portion {
    width: 100%;
    height: 40%;
    background: rgba(225, 0.1, 0.1, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;



    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.lower-portion :nth-child(1) {
    width: 33.33%;
    height: 50%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lower-portion :nth-child(2) {
    width: 33.33%;
    height: 50%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lower-portion :nth-child(3) {
    width: 33.33%;
    height: 50%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 720px) {
  .card-container {
    width: 100%;
    height: 700px;
    background: linear-gradient(35deg ,violet, skyblue, skyblue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.card {
    width: 100%;
    height: 100%;
    gap: 15px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 7.5px;
}
.upper-portion {
    display: flex;
    gap: 15px;
    flex-direction: row;
    width: 100%;
    height: 60%;
    background: transparent;
}
.upper-right {
    width: 50%;
    height: 100%;
    background: transparent;
    border-radius: 15px;



    display: flex;
    flex-direction: column;
    gap: 15px;
}
.upper-right-top{
    width: 100%;
    height: 50%;
    background: rgba(225, 0.1, 0.1, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.upper-right-top p {
    font-size: 25px;
    color: white;
    
}
.upper-right-bottom{
    width: 100%;
    height: 50%;
    background: rgba(225, 0.1, 0.1, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.upper-right-bottom p {
    font-size: 25px;
    color: white;
    
}
.upper-left {
    width: 50%;
    height: 100%;
    background: rgba(225, 0.1, 0.1, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;

    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 30px;
    /* font-weight: 800; */
}
.upper-left :nth-child(1){
    font-size: 20px;
    font-weight: lighter;
    
}
.upper-left span {
    font-size: 18px;
    font-weight: 600;
}
.upper-left :nth-child(2){
    font-size: 14.4px;
    font-weight: lighter;
    
}
.upper-left :nth-child(3){
    font-size: 30.4px;
    font-weight: bolder;
    
}
.upper-left :nth-child(4){
    font-size: 20.4px;
    font-weight: bold;
    
}
.lower-portion {
    width: 100%;
    height: 40%;
    background: rgba(225, 0.1, 0.1, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 15px;



    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.lower-portion :nth-child(1) {
    width: 33.33%;
    height: 50%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lower-portion :nth-child(2) {
    width: 33.33%;
    height: 50%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lower-portion :nth-child(3) {
    width: 33.33%;
    height: 50%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
