* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
}
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Indie+Flower&family=Montserrat:wght@300&family=Noto+Serif+Display:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Qahiri&family=Quicksand&display=swap');
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background: #607d8b;
}
.header {
  display: flex;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 5px;
  width: 35%;
  background: transparent;
}
.form-control {
  width: 100%;
  border-top: none;
  border-right: 3px solid rgb(255, 255, 255);
  border-left: none;
  border-bottom: 3px solid rgb(255, 255, 255);
  background: transparent;
  padding-left: 20px;
  font-size: 18px;
}
.form-control:focus {
  outline: none;
}
.form-control::placeholder {
  color: white;
}
button {
  width: 20%;
  padding: 20px 16px;
  border-color: transparent;
  background: #e1f5fe;
  cursor: pointer;
}
.search-icon {
  color: #607d8b;
  font-size: 24px;
  font-weight: 600;
}
@media only screen and (max-width: 720px) {
  .header{
    width: 100%;
  }
}