* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
  font-family: 'Indie Flower', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Serif Display', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Qahiri', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
body{
  width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Exo&family=Indie+Flower&family=Montserrat:wght@300&family=Noto+Serif+Display:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Qahiri&family=Quicksand&display=swap');
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  min-height: 100vh;
}
.App::after {
  content: '';
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: white;
  transform: translate(500px, 500px);
}
.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
  width: 75%;
}
input {
  width: 100%;
  padding: 20px 16px;
  border-radius: 10px;
  border: 1px solid black;
}
button {
  width: 20%;
  padding: 20px 16px;
  border-radius: 10px;
  border-color: transparent;
}

@media only screen and (max-width: 720px) {
  .header{
    width: 100%;
  }
}